.anime-recommend-content {
  top: 35%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
}

.username {
  color: white;
}

.table {
  color: white;
  transform: translate(0%, 15px);
  position: absolute;
}

.error {
  color: red;
  transform: translate(0%, 15px);
  position: absolute;
}