.info {
    font-size: calc(10px + 2vmin);
    color: rgb(203, 115, 230);
}

.wrapper {
    position: relative;
    padding-top: 56.25%;
    overflow: hidden;
}

.background-video {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}